<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=block"
      rel="stylesheet"
    />
    <script src="/js/lazy-load.js"></script>
  </head>
  <body>
    <%- include('components/header.ejs', {data: 'data'}); %>

    <div class="hero">
      <div class="hero-inner">
        <h1 class="hero-title"><%= homepageData[3][0] %></h1>
        <p class="hero-summary"><%- homepageData[3][1] %></p>
      </div>
    </div>

    <div class="media">
      <picture class="media-image">
        <img
          class="mobile lazy"
          src="<%= homepageData[3][2] %>"
          alt="Hero image mobile version"
        />
        <img
          class="desktop lazy"
          src="<%= homepageData[3][3] %>"
          alt="Hero image"
        />
      </picture>
    </div>

    <div class="buttons">
      <div class="buttons-inner">
        <button class="button">
          <a href="/portfolio">Check out my Portfolio</a>
        </button>
        <button class="button"><a href="/about">Read more about me</a></button>
      </div>
    </div>

    <%- include('components/footer.ejs', {data: 'data'}); %>
  </body>
</html>
