<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('components/header.ejs', {data: 'data'}); %>

    <div class="hero">
      <div class="container">
        <h1><%= homepageData[3][0] %></h1>
        <p><%- homepageData[3][1] %></p>
      </div>
      <div class="media-image">
        <picture>
          <img src="<%= homepageData[3][3] %>" alt="Hero image" />
        </picture>
      </div>
    </div>

    <div class="navigation-buttons">
      <div>
        <button><a href="#">Check out my Portfolio</a></button>
        <button><a href="#">Read more about me</a></button>
      </div>
    </div>

    <%- include('components/footer.ejs', {data: 'data'}); %>
  </body>
</html>
