<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('components/header.ejs', {data: 'data'}); %>

    <!-- Hero -->
    <div class="hero">
      <div class="hero-inner">
        <h1 class="hero-title"><%= portfolioData[3][0] %></h1>
        <p class="hero-summary"><%- portfolioData[3][1] %></p>
      </div>
    </div>

    <!-- Media content -->
    <div class="media">
      <div class="media-inner">
        <div class="media-image">
          <picture>
            <img
              class="mobile"
              src="<%= portfolioData[3][2] %>"
              alt="Hero image mobile version"
            />
            <img
              class="desktop"
              src="<%= portfolioData[3][3] %>"
              alt="Sofa display"
            />
          </picture>
        </div>
        <div class="media-content">
          <h2 class="media-title"><mark><%= portfolioData[3][4] %></mark></h2>
          <p class="media-summary"><%= portfolioData[3][5] %></p>
        </div>
      </div>
    </div>

    <div class="media">
      <div class="media-inner">
        <div class="media-image">
          <picture>
            <img
              class="mobile"
              src="<%= portfolioData[4][2] %>"
              alt="Hero image mobile version"
            />
            <img
              class="desktop"
              src="<%= portfolioData[4][3] %>"
              alt="Bed display"
            />
          </picture>
        </div>
        <div class="media-content">
          <h2 class="media-title"><mark><%= portfolioData[4][4] %></mark></h2>
          <p class="media-summary"><%= portfolioData[4][5] %></p>
        </div>
      </div>
    </div>

    <div class="media">
      <div class="media-inner">
        <div class="media-image">
          <picture>
            <img
              class="mobile"
              src="<%= portfolioData[5][2] %>"
              alt="Hero image mobile version"
            />
            <img
              class="desktop"
              src="<%= portfolioData[5][3] %>"
              alt="Table display"
            />
          </picture>
        </div>
        <div class="media-content">
          <h2 class="media-title"><mark><%= portfolioData[5][4] %></mark></h2>
          <p class="media-summary"><%= portfolioData[5][5] %></p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('components/footer.ejs', {data: 'data'}); %>
  </body>
</html>
