<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('components/header.ejs', {data: 'data'}); %>

    <div class="hero">
      <div class="container">
        <h1><%= portfolioData[3][0] %></h1>
        <p><%- portfolioData[3][1] %></p>
      </div>
    </div>

    <!-- Media content -->
    <div class="media">
      <div class="media-image">
        <picture>
          <img src="<%= portfolioData[3][3] %>" alt="Sofa display" />
        </picture>
      </div>
      <div class="media-content">
        <h2><%= portfolioData[3][4] %></h2>
        <p><%= portfolioData[3][5] %></p>
      </div>
    </div>

    <div class="media">
      <div class="media-image">
        <picture>
          <img src="<%= portfolioData[4][3] %>" alt="Bed display" />
        </picture>
      </div>
      <div class="media-content">
        <h2><%= portfolioData[4][4] %></h2>
        <p><%= portfolioData[4][5] %></p>
      </div>
    </div>

    <div class="media">
      <div class="media-image">
        <picture>
          <img src="<%= portfolioData[5][3] %>" alt="Table display" />
        </picture>
      </div>
      <div class="media-content">
        <h2><%= portfolioData[5][4] %></h2>
        <p><%= portfolioData[5][5] %></p>
      </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="navigation-buttons">
      <div>
        <button><a href="#">Check out my Portfolio</a></button>
        <button><a href="#">Read more about me</a></button>
      </div>
    </div>

    <!-- Footer -->
    <%- include('components/footer.ejs', {data: 'data'}); %>

    <p>Data from Google Sheets:</p>
    <ul>
      <% portfolioData.forEach(row => { %>
      <li><%= row.join(' | ') %></li>
      <% }); %>
    </ul>
  </body>
</html>
